{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex items-center gap-2 justify-between mb-6">
        <h1 class="text-4xl font-semibold">Users</h1>
    </div>

    {% if users %}
        <table class="table">
            <thead>
            <tr>
                <th width="1" class="text-center">#</th>
                <th>Email</th>
                <th width="1" class="text-center">Roles</th>
                <th class="text-center">Created</th>
                <th class="text-center">Last login</th>
                <th width="1" class="text-center">Verified</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-center">{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        <div class="badge badge-primary">
                            {% if 'ROLE_ADMIN' in user.roles %}
                                Administrator
                            {% elseif 'ROLE_MANAGER' in user.roles %}
                                Manager
                            {% else %}
                                User
                            {% endif %}
                        </div>
                    </td>
                    <td class="text-center">{{ user.createdAt|date }}</td>
                    <td class="text-center">{{ user.lastLoginAt|date }}</td>
                    <td class="text-center">{{ (user.verified)?'Yes':'No' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No user.</p>
    {% endif %}
{% endblock %}
