{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>

    {% if users %}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Created</th>
                <th>Last login</th>
                <th>Verified</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>{{ user.createdAt|date }}</td>
                    <td>{{ user.lastLoginAt|date }}</td>
                    <td>{{ (user.verified)?'Yes':'No' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No user.</p>
    {% endif %}
{% endblock %}
