{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movies</h1>
    <a href="{{ path('app_admin_movie_edit') }}">Add movie</a>

    {% if movies %}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Released</th>
                <th>Animation</th>
                <th>Chronological</th>
                <th>Logical</th>
                <th>Characters</th>
                <th>Edit</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ (movie.releasedAt)?movie.releasedAt|date:'No' }}</td>
                    <td>{{ (movie.animation)?'Yes':'No' }}</td>
                    <td>{{ movie.chronological }}</td>
                    <td>{{ movie.logical }}</td>
                    <td>{{ movie.characters|join(', ') }}</td>
                    <td><a href="{{ path('app_admin_movie_edit', {id: movie.id}) }}">Edit</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('app_admin_movie_delete', {id: movie.id}) }}" onclick="return confirm('Are you sure?')">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No movie.</p>
    {% endif %}
{% endblock %}
