{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex items-center gap-2 justify-between mb-6">
        <h1 class="text-4xl font-semibold">Movies</h1>
        <div class="flex gap-2">
            <a href="{{ path('app_admin_movie_edit') }}" class="btn btn-primary">Add movie</a>
        </div>
    </div>

    {% if movies %}
        <table class="table">
            <thead>
            <tr>
                <th width="1" class="text-center">#</th>
                <th>Title</th>
                <th class="text-center">Released</th>
                <th class="text-center">Animation</th>
                <th class="text-center">Chronological</th>
                <th class="text-center">Logical</th>
                <th width="1" class="text-center">Edit</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th width="1" class="text-center">Delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td class="text-center">{{ movie.id }}</td>
                    <td class="font-bold">{{ movie.title }}</td>
                    <td class="text-center">{{ (movie.releasedAt)?movie.releasedAt|date:'No' }}</td>
                    <td class="text-center">{{ (movie.animation)?'Yes':'No' }}</td>
                    <td class="text-center">{{ movie.chronological }}</td>
                    <td class="text-center">{{ movie.logical }}</td>
                    <td><a href="{{ path('app_admin_movie_edit', {id: movie.id}) }}" class="btn btn-primary btn-xs">Edit</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('app_admin_movie_delete', {id: movie.id}) }}" onclick="return confirm('Are you sure?')" class="btn btn-primary btn-xs">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No movie.</p>
    {% endif %}
{% endblock %}
