{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex items-center gap-2 justify-between mb-6">
        <h1 class="text-4xl font-semibold">VODs</h1>
    </div>

    {% if vods %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Movie/Show</th>
                <th>Plateform</th>
                <th>Type</th>
                <th>Edit</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for vod in vods %}
                <tr>
                    <td>{{ vod.id }}</td>
                    <td>{{ vod.product.title }}</td>
                    <td>{{ vod.platform.name }}</td>
                    <td>{{ vod.type }}</td>
                    <td><a href="{{ path(((vod.product.type == 'movie') ? 'app_admin_movie_edit' : 'app_admin_show_edit'), {id: vod.product.id}) }}">Edit</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('app_admin_vod_delete', {id: vod.id}) }}" onclick="return confirm('Are you sure?')">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No episode.</p>
    {% endif %}

{% endblock %}
