{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shows</h1>
    <a href="{{ path('app_admin_show_edit') }}">Add show</a>
    <a href="{{ path('app_admin_episodes') }}">All episodes</a>

    {% if shows %}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Episodes</th>
                <th>Released</th>
                <th>Animation</th>
                <th>Chronological</th>
                <th>Logical</th>
                <th>Characters</th>
                <th>Edit</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for show in shows %}
                <tr>
                    <td>{{ show.id }}</td>
                    <td>{{ show.title }}</td>
                    <td>{{ show.episodes|length }}</td>
                    <td>{{ (show.releasedAt)?show.releasedAt|date:'No' }}</td>
                    <td>{{ (show.animation)?'Yes':'No' }}</td>
                    <td>{{ show.chronological }}</td>
                    <td>{{ show.logical }}</td>
                    <td>{{ show.characters|join(', ') }}</td>
                    <td><a href="{{ path('app_admin_show_edit', {id: show.id}) }}">Edit</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('app_admin_show_delete', {id: show.id}) }}" onclick="return confirm('Are you sure?')">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No show.</p>
    {% endif %}
{% endblock %}
