{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex items-center gap-2 justify-between mb-6">
        <h1 class="text-4xl font-semibold">Characters</h1>
        <div class="flex gap-2">
            <a href="{{ path('app_admin_character_edit') }}" class="btn btn-primary">Add character</a>
        </div>
    </div>

    {% if characters %}
        <table class="table">
            <thead>
                <tr>
                    <th width="1" class="text-center">#</th>
                    <th>Name</th>
                    <th width="1" class="text-center">Edit</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th width="1">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                    <tr>
                        <td class="text-center">{{ character.id }}</td>
                        <td class="font-bold">{{ character.name }}</td>
                        <td><a href="{{ path('app_admin_character_edit', {id: character.id}) }}" class="btn btn-primary btn-xs">Edit</a></td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('app_admin_character_delete', {id: character.id}) }}" class="btn btn-primary btn-xs" onclick="return confirm('Are you sure?')">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No character.</p>
    {% endif %}

{% endblock %}
