{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex items-center gap-2 justify-between mb-6">
        <h1 class="text-4xl font-semibold">Platforms</h1>
        <div class="flex gap-2">
            <a href="{{ path('app_admin_vods') }}" class="btn btn-secondary">All VODs</a>
            <a href="{{ path('app_admin_platform_edit') }}" class="btn btn-primary">Add platform</a>
        </div>
    </div>

    {% if platforms %}
        <table class="table">
            <thead>
            <tr>
                <th width="1" class="text-center">#</th>
                <th width="1" class="text-center">Icon</th>
                <th>Name</th>
                <th width="1" class="text-center">Edit</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th width="1" class="text-center">Delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for platform in platforms %}
                <tr>
                    <td class="text-center">{{ platform.id }}</td>
                    <td class="text-center">{% if platform.imageName %}<img src="{{ vich_uploader_asset(platform) }}" width="20" height="20" alt="">{% else %}&times;{% endif %}</td>
                    <td class="font-bold">{{ platform.name }}</td>
                    <td><a href="{{ path('app_admin_platform_edit', {id: platform.id}) }}" class="btn btn-primary btn-xs">Edit</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('app_admin_platform_delete', {id: platform.id}) }}" class="btn btn-primary btn-xs" onclick="return confirm('Are you sure?')">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No platform.</p>
    {% endif %}

{% endblock %}
