<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marvel Cinematic Universe{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        <style>
            label.required:after {
                content: '*';
                color: red;
            }
        </style>

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_MANAGER') %}
                    <li><a href="{{ path('app_admin_home') }}">Dashboard</a></li>
                    <li><a href="{{ path('app_admin_characters') }}">Characters</a></li>
                    <li><a href="{{ path('app_admin_platforms') }}">Platforms</a></li>
                    <li><a href="{{ path('app_admin_movies') }}">Movies</a></li>
                    <li><a href="{{ path('app_admin_shows') }}">Shows</a></li>
                    <li><a href="{{ path('app_admin_episodes') }}">Episodes</a></li>
                    <li><a href="{{ path('app_admin_vods') }}">VODs</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_admin_users') }}">Users</a></li>
                {% endif %}
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('app_register') }}">Register</a></li>
                <li><a href="{{ path('app_login') }}">Login</a></li>
            {% endif %}
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>
